body {
    background-image: url('background-image.jpg');
    background-size: cover; /* Adjust image size to cover the entire container */
    background-position: center; /* Center the image within the container */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: white;
    font-family: serif;
}

.home-title {
    text-align: center;
    padding-top: 225px;
}

.fade-in {
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeInAnimation 2s ease forwards; /* Apply the fadeInAnimation */
}

/* Define the keyframes for the fadeInAnimation */
@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

/* CSS for the header */
header {
    background-color: black; /* Black background */
    color: white; /* White text color */
    text-align: center; /* Center-align the links */
    padding: 20px 0; /* Add padding to the top and bottom */
    position: fixed; /* Fixed positioning */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's on top of other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

header ul li {
    display: inline; /* Display the list items horizontally */
    margin-right: 20px; /* Add some spacing between links */
}

header ul li a {
    color: white; /* White text color for links */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
}

header ul li a:hover {
    color: blue; /* Blue text color when hovered over */
}

.intro {
    text-align: center;
    width: 300px;
    margin: auto;
}

.container {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    text-align: left;
}

.overcontainer {
    margin-top: 300px;
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Wrap items to the next line when there's not enough space */
    justify-content: space-between; 
    height: 100vh;
}

@media screen and (max-width: 600px) {
    .container {
        width: calc(100% - 20px); /* Set full width for containers on small screens with margin included */
    }
}

.intro-container {
    margin-left: -15px;
}

/* Style input fields */
.container input[type="number"] {
    width: calc(100% - 40px); /* Adjust input width */
    padding: 10px; /* Add padding */
    margin-bottom: 15px; /* Add margin bottom */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    background-color: #f5f5f5; /* Add background color */
}

/* Style buttons */
.container button {
    width: 100%; /* Make button fill container width */
    padding: 10px; /* Add padding */
    margin-top: 15px; /* Add margin top */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    background-color: #007bff; /* Default button color */
    color: white; /* Text color */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s; /* Smooth color transition */
}

/* Change button color on hover */
.container button:hover {
    background-color: #0056b3; /* Hover color */
}

.percent-container {
    border: 2px solid blue;
    padding: 5px;
}