/* Updated CSS */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #0b0c10;
}

header {
    background-color: #333;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    background-color: #232323;
    margin: 40px;
    border-radius: 20px;
    padding: 40px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.percent-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.percent-container label, .percent-container input[type="number"], .percent-container h2 {
    margin-right: 20px;
}

.percent-container input[type="number"] {
    width: 100px; /* Adjust width as needed */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.answer {
    margin-top: 20px;
}

footer {
    background-color: #232323;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#hot-container {
    width: 100%;
    height: 100%;
}